body{
padding-top: 70px;
background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-repeat: no-repeat;
background-position: top;
background-attachment: fixed;
}
